md-dialog.form-modal {

  md-input-container {
    margin-top: 10px !important;
    margin-bottom: 5px;
  }

}
//#solar-container {
//  .md-dialog-container {
//    right: 0px !important;
//    left: auto;
//    max-width: 50%;
//    flex: 1 1 50%;
//    box-sizing: border-box;
//    max-width: 50%;
//    max-height: 100%;
//  }
//}
//
//.stick-right-modal {
//  top: 25px;
//  max-height: 100%;
//  height: calc(90% - 25px);
//  outline: none;
//  flex: 1 1 100%;
//  left: 0;
//
//  md-dialog-content, md-tabs {
//    height: 100%;
//  }
//  md-dialog-content {
//    overflow: hidden;
//  }
//
//  md-content {
//    height: 80%;
//    min-height: 80%;
//
//    form {
//      padding: 0 20px 0 20px;
//
//      .form-sub-header {
//        margin-top: 0px;
//        margin-bottom: 0px;
//        font-weight: 600;
//      }
//      .location-details {
//        padding-top: 5px;
//        padding-bottom: 0px;
//        font-size: 13px;
//      }
//      md-input-container {
//        margin-top: 15px;
//        margin-bottom: 0px;
//      }
//    }
//  }
//
//  md-dialog-actions {
//    border-top-color: rgba(0, 0, 0, 0.05) !important;
//  }
//}
//
//
