$bottom-list-panel-height: 50%;
$bottom-list-panel-width: 100%;

$container-height: calc(100% - 10px);
$container-width: calc(100% - 40px);

$list-footer-width: calc(100% - 40px);
$list-content-height: calc(100% - 80px);
$list-footer-height: 43px;

#map-bottom-panel {
  position: absolute;
  bottom: 18px;
  right: 45px;
  z-index: 3;

  .row {
    margin: 0;

    button {
      margin: 5px;
      padding: 2px;
      span {
        padding: 5px;
      }
    }
  }
}


.bottom_list_panel {
  position: fixed;
  bottom: 10px;
  margin: 0;
  width: $bottom-list-panel-width;
  height: $bottom-list-panel-height;
  z-index: 1;

  .container {
    margin: 5px 20px;
    height: $container-height;
    width: $container-width;
    border-radius: 4px;

    md-content {
      //height: $list-content-height;
      height: 100%;

      md-table-container {
        max-height: 100%;
        min-height: 70%;
        margin-bottom: 20px;

        table.md-table {
          // Fixes last tr on tbody offset
          padding-bottom: 80px !important;

          thead  {
            tr {
              height: 40px;
              text-align: center;
              border-bottom: 1px rgba(0, 0, 0, 0.12) solid;

              //th {
              //  height: 20px !important;
              //}
            }
          }

          thead.md-table-progress {
            display:none;
          }

          tbody {
            tr {
              min-height: 0;
              height: 30px !important;
              text-align:center;

              td {
                min-height: 0;
                height: 30px;
                padding: 0px 5px;

                button {
                  margin: 2px;
                  line-height: 30px;
                  min-height: 30px;
                  height: 30px;
                  font-size: 12px;
                }
              }
            }
            tr.md-row:not([disabled]) {
              &:hover {
                background-color: #eee !important;
              }
            }
          }
        }
      }

    }

    md-toolbar, .md-toolbar-tools {
      min-height: 50px;
      height: 50px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    md-toolbar.primary-table-toolbar {
      background-color: $primary-color !important;
      color: $primary-font-color;

      md-icon {
        color: $primary-font-color;
      }
    }

    .toolbar-list {
      md-icon {
        color: white !important;
      }
    }

    md-toolbar.toolbar-search {
      background-color: white !important;
      button span {
        color: #888;
      }
      .md-toolbar-tools, md-icon, h3 {
        color: #888 !important;
      }
      md-input-container {
        input {
          color: #888;
          border: none !important;
        }
      }
    }

    .table-footer {
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: $list-footer-width;
      height: $list-footer-height;
      min-height: 43px;
      background-color: $toolbar-bg;
      border-top: 1px solid darken($toolbar-bg, 5%);
      border-radius: 0px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      md-table-pagination {
        height: $list-footer-height;
        width: 100% !important;
        position: absolute;
        bottom: 0px;
        left: 0px;
        justify-content: flex-start !important;
        border-top: none;

        md-icon {
          color: rgba(0, 0, 0, 0.26);
        }
      }

    }

  }
}