#columbary-dialog {

  md-toolbar.filter-toolbar {
    div.md-toolbar-tools {
      md-input-container {
        margin:0;
        height:30px;
      }

      label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
        transform: translate3d(0, 12px, 0) scale(.75);
      }
    }
  }

  md-dialog-content {
    padding:5px;

    md-grid-list {
      // columbary status
      .occupied {
        background-color: $occupied !important;
      }
      .sold {
        background-color: $sold !important;
      }
      .vacant {
        background-color: $vacant !important;
      }

      md-grid-tile {
        cursor: pointer;

        md-grid-tile-footer {
          height: auto;
          padding:3px 5px;
        }

      }
    }
  }

}

#columbary-prev-btn {
  position: absolute;
  left: 2%;
  bottom: calc(50% - 20px);
}

#columbary-next-btn {
  position: absolute;
  right: 2%;
  bottom: calc(50% - 20px);
}