
.gm-style {

  .gm-bundled-control {
    .gmnoprint {

      // Hide Rotate Map Control
      div[title="Rotate map 90 degrees"] {
        display: none !important;
      }

      // Hide Tilt button on google map
      .gm-tilt {
        display: none !important;
      }

    }
  }

  a[title="Click to see this area on Google Maps"] {
    display: none !important;
  }

}
