.section-details-container {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .26);
  border-radius: 10px;

  .section-details-sidenav {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 70%;
    position: absolute;
    top: 18%;

    md-toolbar.md-tall {
      p {
        color: #ddd;
        font-size: 13px;
        margin: 3px 0px 3px 0px;

        span {
          color: $primary-font-color;
          font-weight: 600;
        }
      }
    }

    .section-details-edit-input-container {
      margin-top: 0px;
      margin-bottom: 0px;
      height: 40px;
      width: 80%;

      input {
        color: white;
        border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
        font-size: 90%;
      }
    }

    md-content.index-sidenav-content {
      height: 75%;

      md-tabs {
        height: 100%;
      }
    }

  }

}