
#addSolarPanelBtn {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

md-list#update-solar-panel-list {
  .md-subheader {
    display:inline-block;
    font-size: 12px;
    margin-bottom: 3px;
  }
}