<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>

    <!-- CSS here -->
    <link rel="stylesheet" href="css/vendor.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body ng-cloak>
    <div id="base-container" ng-controller="mainController as mainCtl">
        {# Fixed Top Navbar #}

        <!-- Your content goes here -->
        <div id="page-content">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>