{% extends "base.html" %}

{% block content %}
    {% raw %}
    <div id="index-container" ng-controller="lotListController as listCtl">
        <treasure-overlay-spinner active='spinner.active'>
    {% endraw %}
            {% include "partials/_top_nav.html" %}

            <div ng-controller="gmapController as gmapCtl">
                <!-- map canvas dimensions will be computed during map initialization -->
                {% include "partials/_map.html" %}
                {% include "partials/_lot_legend.html" %}
            </div>

            <md-button id="crematorium-btn" class="md-raised md-icon-button"
                       ng-click="listCtl.showCrematorium($event)">
                <md-tooltip md-direction="left">Manage Crematorium</md-tooltip>
                <md-icon>whatshot</md-icon>
            </md-button>

            <md-button id="columbary-btn" class="md-accent md-raised md-icon-button"
                       ng-click="listCtl.showColumbaryModal($event)">
                <md-tooltip md-direction="left">Show Columbary</md-tooltip>
                <md-icon>account_balance</md-icon>
            </md-button>

            <!-- Report Buttons -->
            {% include "partials/_report_buttons.html" %}
            <!-- Lot List Panel -->
            {% include "partials/_data_list_panel.html" %}
            <!-- Map Bottom Panel -->
            {% include "partials/_map_bottom_panel.html" %}
            {% include "partials/sidenav/section_details_index.tmpl.html" %}
            {% include "partials/sidenav/block_details_index.tmpl.html" %}
    {% raw %}
        </treasure-overlay-spinner>
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <script src="js/app-jq.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}