{% extends "base.html" %}

{% block content %}
    {% raw %}
    <div id="index-container" ng-controller="indexController as indexCtl">
        <treasure-overlay-spinner active='spinner.active'>
    {% endraw %}
        <div ng-controller="gmapController as gmapCtl">
            <!-- map canvas dimensions will be computed during map initialization -->
            {% include "partials/_map.html" %}
        </div>
            <!-- Lot List Panel -->
            {% include "partials/_data_list_panel.html" %}
            <!-- Map Bottom Panel -->
            {% include "partials/_map_bottom_panel.html" %}
    {% raw %}
        </treasure-overlay-spinner>
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}