{% raw %}
<section id="lot-list-table-container" class="bottom_list_panel"
         ng-show="listCtl.showList"
         ng-cloak>

    <div class="container">
        <md-content style="overflow: hidden;">

        <!-- PRIMARY Toolbar -->
        <md-toolbar class="md-table-toolbar md-default primary-table-toolbar" ng-hide="listCtl.filter.show">
            <div class="md-toolbar-tools">
                <span class="table-header-title">Benevola Lot List</span>

                <div flex="" class="flex"></div>
                <md-button class="md-icon-button" ng-click="listCtl.filter.show = true">
                    <md-tooltip md-direction="left">Filter List</md-tooltip>
                    <md-icon>filter_list</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="listCtl.showList = false">
                    <md-tooltip md-direction="left">Close Table</md-tooltip>
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- FILTER Toolbar -->
        <md-toolbar class="md-table-toolbar md-default toolbar-search"
                    ng-show="listCtl.filter.show">
            <div class="md-toolbar-tools">
                <md-icon>search</md-icon>
                <form flex name="listCtl.filter.form">
                    <md-input-container md-no-float class="md-block" style="max-height: 30px; margin-top: 25px;">
                        <input type="text" ng-model="listCtl.query.filter" placeholder="search">
                    </md-input-container>
                </form>
                <md-button ng-click="listCtl.removeFilter()">
                    Back
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- TABLE -->
        <md-table-container>
            <table md-table md-progress="">

                <!-- TABLE HEAD -->
                <thead md-head md-order="listCtl.query.order" md-on-reorder="listCtl.onReorder">
                    <tr md-row>
                        <th md-column ng-repeat="col in listCtl.tableHeaderList">{{col}}</th>
                    </tr>
                </thead>

                <!-- TABLE BODY -->
                <tbody md-body>
                    <tr md-row
                        ng-repeat="lot in lots
                        | orderBy: listCtl.query.order
                        | limitTo: listCtl.query.limit : (listCtl.query.page - 1) * listCtl.query.limit"
                        ng-click="listCtl.onClickRow(lot)">

                        <!-- Section No. -->
                        <td md-cell>{{lot.section_id}}</td>

                        <!-- Block No. -->
                        <td md-cell>{{lot.block_id}}</td>

                        <!-- Lot No. -->
                        <td md-cell>{{lot.name}}</td>

                        <!-- Dimension -->
                        <td md-cell>{{lot.dimension}}</td>

                        <!-- Area -->
                        <td md-cell>{{lot.lot_area}}</td>

                        <!-- Amount (Price/SM) -->
                        <td md-cell>{{lot.amount | currency: "PHP ":0}} ({{lot.price_per_sq_mtr | currency: "PHP ":0}}/SM)</td>

                        <!-- Status -->
                        <td md-cell
                            ng-class="{'vacant': lot.status == 'vacant',
                                       'sold': lot.status == 'sold',
                                       'occupied': lot.status == 'occupied'}">
                            <b>{{lot.status}}</b>
                        </td>

                        <!-- OR # -->
                        <td md-cell>{{lot.or_no}}</td>

                        <!-- Owner -->
                        <td md-cell>{{lot.client_name}}</td>

                        <!-- Date Purchased -->
                        <td md-cell>{{lot.date_purchased_formatted}}</td>

                        <td md-cell style="text-align:center;"><md-button class="md-raised" ng-click="listCtl.showLotDetails(lot)">View Details</md-button></td>

                    </tr>
                </tbody>

            </table>
        </md-table-container>

        <!-- FOOTER -->
        <md-toolbar class="md-table-toolbar md-default table-footer">
            <div layout="row" layout-align="start center" flex>
                <md-table-pagination
                        md-limit="listCtl.query.limit"
                        md-page="listCtl.query.page"
                        md-total="{{lots.length}}"
                        md-page-select>
                </md-table-pagination>
            </div>
        </md-toolbar>

        </md-content>
    </div>
</section>
{% endraw %}