{% raw %}
<section id="drawing-tools">

    <!-- Save -->
    <md-button class="md-raised md-hue-1 square-icon-button" flex-gt-md="auto"
               ng-show="adminCtl.drawBtn.save"
               ng-click="adminCtl.saveArea()"
               ng-cloak>
        <md-tooltip md-direction="top">Save</md-tooltip>
        <md-icon>save</md-icon>
    </md-button>

    <!-- Delete Selected -->
    <md-button class="md-raised md-hue-1 square-icon-button" flex-gt-md="auto"
               ng-show="adminCtl.drawBtn.delete"
               ng-click="adminCtl.deleteSelected()"
               ng-cloak>
        <md-tooltip md-direction="top">Delete Selected</md-tooltip>
        <md-icon>delete</md-icon>
    </md-button>

    <!-- Cancel Drawing Button -->
    <md-button id="admin-cancel-drawing-btn"
               class="square-icon-button md-raised"
               ng-click="adminCtl.stopDrawing()"
               ng-show="adminCtl.drawBtn.cancel">
        <md-tooltip md-direction="top">Cancel Drawing</md-tooltip>
        <md-icon>clear</md-icon>
    </md-button>

</section>
{% endraw %}
