{% raw %}
<span id="app-top-nav">
     <md-menu md-position-mode="target-right target">
         <md-button aria-label="Open menu" class="md-icon-button md-raised" ng-click="$mdOpenMenu($event)">
             <md-icon md-menu-origin>more_vert</md-icon>
         </md-button>
         <md-menu-content width="2">
             <md-menu-item ng-repeat="item in mainCtl.menu">
                 <md-button class="menu-button">
                     <div layout="row">
                         <a ng-click="mainCtl.redirect($event, item.link)" href="javascript:void();" style="color:black;text-decoration:none;">
                             <md-icon md-menu-align-target>{{item.icon}}</md-icon>
                             <p flex>{{ item.title }}</p>
                         </a>
                     </div>
                 </md-button>
             </md-menu-item>
         </md-menu-content>
     </md-menu>
</span>
{% endraw %}
