{% raw %}
<span id="app-top-nav">
     <md-menu md-position-mode="target-right target">
         <md-button aria-label="Open menu" class="md-icon-button md-raised" ng-click="$mdOpenMenu($event)">
             <md-icon md-menu-origin>more_vert</md-icon>
         </md-button>
         <md-menu-content width="2">
             {% endraw %}

             <md-menu-item>

                 <md-button class="menu-button" disabled>
                     <div layout="row">
                         <md-icon>account_circle</md-icon>
                         {{ current_user.username }}
                     </div>
                 </md-button>
             </md-menu-item>

             {% raw %}

             <md-divider></md-divider>
             <md-menu-item ng-repeat="item in mainCtl.menu">
                 <md-button class="menu-button" ng-click="mainCtl.redirect($event, item.link)">
                     <div layout="row">
                        <md-icon md-menu-align-target>{{item.icon}}</md-icon>
                        <p flex>{{ item.title }}</p>
                     </div>
                 </md-button>
             </md-menu-item>
         </md-menu-content>
     </md-menu>
</span>
{% endraw %}
