<md-dialog class="form-modal" aria-label="Add Lot" ng-cloak>
    <form name="addLotForm">
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h4>New Lot</h4>
               <span flex></span>
               <md-button class="md-icon-button" ng-click="addLotCtl.cancel()">
                   <md-icon aria-label="Close dialog">clear</md-icon>
               </md-button>
           </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">

            <div layout="row">
                <md-input-container>
                    <label>Lot No.</label>
                    <input type="number" name="name" ng-model="addLotCtl.lot.name" placeholder="Lot No." required>
                </md-input-container>
            </div>

            <div layout="row">
                <label>Dimension</label>
                <!-- Lot Dimension -->
                <md-input-container>
                    <label>Width</label>
                    <input type="number" name="width" ng-model="addLotCtl.lot.dimension_width" placeholder="Width">
                </md-input-container>
                x
                <md-input-container>
                    <label>Height</label>
                    <input type="number" name="height" ng-model="addLotCtl.lot.dimension_height" placeholder="Height">
                </md-input-container>
            </div>

            <p style="margin-top:5px;" ng-show="addLotCtl.lot.lot_area"><b>Lot Area: </b> {{ addLotCtl.lot.lot_area }} sq.meters</p>

            <span layout="row" layout-align="end center">
                <span flex></span>
                <md-button class="md-primary" ng-click="addLotCtl.save()">Save</md-button>
            </span>
        </md-dialog-content>
    </form>
</md-dialog>