<md-dialog id="lot-details-dialog" flex="40" class="form-modal" aria-label="Columbary Details" flex="25" ng-cloak>
    <form name="columbaryDetailsForm">
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h4>Columbary Information</h4>
               <span flex></span>
               <md-button class="md-icon-button" ng-click="cDetsCtl.cancel($event)">
                   <md-icon aria-label="Close dialog">clear</md-icon>
               </md-button>
           </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">


            <span layout="row" layout-align="start center">

                <!-- Columbary No. -->
                <p>Columbary No:
                    <span><b>&nbsp; {{ cDetsCtl.columbary.c_no }}</b></span>
                </p>

                <span flex></span>
                <!-- Add Occupant Button -->
                <md-button class="md-hue-1"
                           ng-show="cDetsCtl.columbary.status !== 'vacant'"
                           ng-click="cDetsCtl.addOccupant()">
                    <md-icon>add</md-icon>Occupant
                </md-button>

                <!-- Mark as Sold Button -->
                <md-button class="md-hue-2"
                           ng-show="cDetsCtl.columbary.status == 'vacant'"
                           ng-click="cDetsCtl.markSold()">
                    <md-icon>attach_money</md-icon>Mark Sold
                </md-button>
            </span>

            <md-tabs md-dynamic-height md-border-bottom>
                <!-- Columbary Info Tab -->
                <md-tab label="Columbary Info">
                    <md-content id="lot-info-content">
                        <md-card>
                            <md-card-content>

                                <p>Block:
                                    <span>{{ cDetsCtl.columbary.block }}</span>
                                </p>

                                <!-- OR # -->
                                <p ng-mouseenter="buttons.or_no = true"
                                   ng-mouseleave="buttons.or_no = false"
                                   ng-hide="cDetsCtl.columbary.status == 'vacant' || forms.or_no">OR #:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="buttons.or_no"
                                                   ng-click="forms.or_no = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        # {{cDetsCtl.columbary.or_no}}
                                    </span>

                                    <section ng-show="forms.or_no">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">OR #:</label>
                                                <span flex></span>
                                                <!-- OR # -->
                                                <md-input-container>
                                                    <label>OR #</label>
                                                    <input type="text" name="or_no"
                                                           ng-model="cDetsCtl.columbary.or_no">
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="forms.or_no = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="cDetsCtl.save($event)">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <!-- Columbary OWNER -->
                                <p ng-if="cDetsCtl.columbary.status != 'vacant'">Owner:
                                    <span>{{ cDetsCtl.columbary.client.last_name + ', ' + cDetsCtl.columbary.client.first_name }}</span>
                                </p>

                                <p ng-mouseenter="buttons.price = true"
                                   ng-mouseleave="buttons.price = false"
                                   ng-hide="forms.price">Lot Price:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="buttons.price"
                                                   ng-click="forms.price = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ cDetsCtl.columbary.price | currency: "PHP ":0 }}
                                    </span>

                                    <section ng-show="forms.price">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Lot Price:</label>
                                                <span flex></span>
                                                <!-- OR # -->
                                                <md-input-container>
                                                    <label>Lot Price</label>
                                                    <input type="number" name="price"
                                                           ng-model="cDetsCtl.columbary.price">
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="forms.price = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="cDetsCtl.save($event)">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <!-- TODO: functionality tdo revert status and data cascades -->
                                <p>Status:
                                    <span ng-style="cDetsCtl.columbary.status == 'vacant' && {'color': 'green'}
                                            || cDetsCtl.columbary.status == 'sold' && {'color': 'red'}
                                            || cDetsCtl.columbary.status == 'occupied' && {'color': 'violet'}">
                                        {{ cDetsCtl.columbary.status }}
                                    </span>
                                </p>

                                <!-- Remarks -->
                                <p ng-mouseenter="buttons.remarks = true"
                                   ng-mouseleave="buttons.remarks = false"
                                   ng-hide="forms.remarks">Remarks:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="buttons.remarks"
                                                   ng-click="forms.remarks = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ cDetsCtl.columbary.remarks }}
                                    </span>

                                    <section ng-show="forms.remarks">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Remarks:</label>
                                                <span flex></span>
                                                <!-- OR # -->
                                                <md-input-container>
                                                    <label>Remarks</label>
                                                    <textarea rows="3" cols="20" name="remarks"
                                                           ng-model="cDetsCtl.columbary.remarks">
                                                    </textarea>
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="forms.remarks = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="cDetsCtl.save($event)">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                            </md-card-content>
                        </md-card>


                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
