<md-button class="md-icon-button md-raised"
           id="columbary-prev-btn"
           ng-show="cListCtl.pages.prev_page"
           ng-click="cListCtl.changePage(cListCtl.pages.prev_page)">
    <md-icon>chevron_left</md-icon>
</md-button>

<md-button class="md-icon-button md-raised"
           id="columbary-next-btn"
           ng-show="cListCtl.pages.next_page"
           ng-click="cListCtl.changePage(cListCtl.pages.next_page)">
    <md-icon>chevron_right</md-icon>
</md-button>

<md-dialog id="columbary-dialog" aria-label="Columbary List" flex ng-cloak>

    <!-- MAIN TOOLBAR -->
    <md-toolbar ng-show="!showFilterColumbary">
        <div class="md-toolbar-tools">

            <h4>Columbary</h4>

            <span flex></span>

            <span style="color:#bdc3c7;">Block {{ cListCtl.filter.block }}</span>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="showFilterColumbary=true">
                <md-icon>search</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="cListCtl.showColumbaryTable()">
                <md-icon>view_list</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="cListCtl.close()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <!-- FILTER TOOLBAR -->
    <md-toolbar class="filter-toolbar" ng-show="showFilterColumbary">
        <div class="md-toolbar-tools">

            <!-- TODO: server side filter -->
            <md-input-container flex md-no-float class="md-block">
                <input type="text" ng-model="cListCtl.query.filter" placeholder="Search Columbary">
            </md-input-container>

            <!--<md-input-container md-no-float>
                <label>Status</label>
                <md-select ng-model="cTblCtl.query.status"
                           ng-change="cTblCtl.statusChange()">
                    <md-option ng-repeat="stat in cListCtl.statusChoices" value="{{ stat }}">
                        {{ stat }}
                    </md-option>
                </md-select>
            </md-input-container> -->

            <md-input-container md-no-float>
                <label>Block</label>
                <md-select ng-model="cListCtl.filter.block"
                           ng-change="cListCtl.filterChange()">
                    <md-option ng-repeat="b in ['A', 'B']" value="{{ b }}">
                        {{ b }}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-button class="md-icon-button" ng-click="cListCtl.removeFilter()">
                <md-icon aria-label="Close dialog">arrow_forward</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- CONTENT -->
    <md-dialog-content>
            <md-grid-list
                    id="columbary-grid-list"
                    ng-init="showNavButtons=true"
                    ng-mouseenter="showNavButtons=true" ng-mouseleave="showNavButtons=false"
                    md-cols="12" md-row-height="3:2" md-gutter="3px">
                <md-grid-tile
                        ng-repeat="item in cListCtl.tiles track by $index"
                        ng-class="{'vacant': item.status == 'vacant',
                                       'sold': item.status == 'sold',
                                       'occupied': item.status == 'occupied'}"
                        md-colspan="1"
                        md-rowspan="1"
                        ng-click="cListCtl.showColumbaryDetail(item)"> <!-- ng-if="$index % 8 == 0" -->
                    <md-grid-tile-footer>
                            <span>{{ item.c_no }}</span>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
    </md-dialog-content>
</md-dialog>