<md-dialog id="columbary-table" style="overflow: hidden;"
         ng-cloak>

            <!-- PRIMARY Toolbar -->
            <md-toolbar class="md-table-toolbar md-default primary-table-toolbar" ng-hide="cremListCtl.filter.show">
                <div class="md-toolbar-tools">
                    <span class="table-header-title">Benevola Crematorium</span>

                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="cremListCtl.filter.show = true">
                        <md-tooltip md-direction="left">Filter List</md-tooltip>
                        <md-icon>filter_list</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="cremListCtl.newCremation($event)">
                        <md-tooltip md-direction="left">New Cremation</md-tooltip>
                        <md-icon>add</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="cremListCtl.close()">
                        <md-tooltip md-direction="left">Close Table</md-tooltip>
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <!-- FILTER Toolbar -->
            <md-toolbar class="md-table-toolbar md-default toolbar-search"
                        ng-show="cremListCtl.filter.show">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="cremListCtl.filter.form">
                        <md-input-container md-no-float class="md-block" style="max-height: 30px; margin-top: 25px;">
                            <input type="text" ng-model="cremListCtl.query.filter" placeholder="search">
                        </md-input-container>
                    </form>

                    <md-button ng-click="cremListCtl.removeFilter()">
                        Back
                        <md-icon>arrow_forward</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

    <md-dialog-content>
            <!-- TABLE -->
            <md-table-container class="benevola-table">
                <table md-table md-progress="">

                    <!-- TABLE HEAD -->
                    <thead md-head md-order="cremListCtl.query.order" md-on-reorder="cremListCtl.onReorder">
                    <tr md-row>
                        <th md-column ng-repeat="col in cremListCtl.tableHeaderList">{{col}}</th>
                    </tr>
                    </thead>

                    <!-- TABLE BODY -->
                    <tbody md-body>
                        <tr md-row
                            ng-repeat="c in cremListCtl.cremations
                            | orderBy: cremListCtl.query.order
                            | limitTo: cremListCtl.query.max_per_page : (cremListCtl.query.page - 1) * cremListCtl.query.max_per_page">

                            <td md-cell width="20%">{{ c.date_cremated | amDateFormat:'MMMM DD YYYY' }}</td>
                            <td md-cell>{{ c.deceased.first_name }} {{ c.deceased.last_name }}</td>
                            <td md-cell>{{ c.deceased.gender }}</td>
                            <td md-cell>{{ c.deceased.age }}</td>
                            <td md-cell>{{ c.time_started }}</td>
                            <td md-cell>{{ c.time_finished }}</td>
                            <td md-cell>{{ c.gas_consumed }}</td>

                            <td md-cell style="text-align:center;">
                                <md-button class="md-raised" ng-click="cremListCtl.showDetails(c)">View Details</md-button>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </md-table-container>
    </md-dialog-content>

    <!-- FOOTER -->
    <md-dialog-actions layout="column">
        <md-toolbar class="md-table-toolbar md-default table-footer">
            <div layout="row" layout-align="start center" flex>
                <md-table-pagination
                        md-limit="cremListCtl.query.max_per_page"
                        md-page="cremListCtl.query.page"
                        md-total="{{ cremListCtl.cremateItems.length }}"
                        md-page-select>
                </md-table-pagination>
            </div>
        </md-toolbar>
    </md-dialog-actions>

</md-dialog>
