<md-dialog id="lot-details-dialog" class="form-modal" aria-label="Lot Details" flex="25" ng-cloak>
    <form name="lotDetailsForm">
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h4>Lot Information</h4>
               <span flex></span>
               <md-button class="md-icon-button" ng-click="lotDetsCtl.cancel()">
                   <md-icon aria-label="Close dialog">clear</md-icon>
               </md-button>
           </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">

            <span layout="row" layout-align="end center">

                <!-- Add Occupant Button -->
                <md-button class="md-hue-1"
                           ng-show="lotDetsCtl.lot.status !== 'vacant'"
                           ng-click="lotDetsCtl.addOccupant()">
                    <md-icon>add</md-icon>Occupant
                </md-button>

                <!-- Mark Lot as Sold Button -->
                <md-button class="md-hue-2"
                           ng-show="lotDetsCtl.lot.status === 'vacant'"
                           ng-click="lotDetsCtl.markSold()">
                    <md-icon>attach_money</md-icon>Mark Sold
                </md-button>
            </span>

            <md-tabs md-dynamic-height md-border-bottom>
                <!-- Lot Info Tab -->
                <md-tab label="Lot Info">
                    <md-content id="lot-info-content">
                        <md-card>
                            <md-card-content>
                                <!--    // Dimension (Editable)
                                    // Area
                                    // Price/Sq.Mtr.
                                    // Amount
                                    // Status (Editable)

                                    // Show Owner only when Status is sold or occupied
                                    // trigger select client and date purchased(datepicker) when changing status to sold

                                    // Show a button to add deceased (occupant) when status is sold or occupied

                                    // when reverting back status to vacant. clear all cascaded data
                                    -->
                                <!-- TODO: func to update widht and height -->
                                <p ng-if="lotDetsCtl.lot.status != 'vacant'">Owner:
                                    <span>{{ lotDetsCtl.lot.client.last_name + ', ' + lotDetsCtl.lot.client.first_name }}</span>
                                </p>

                                <p>Dimension:
                                    <span>{{ lotDetsCtl.lot.dimension_width }} x {{ lotDetsCtl.lot.dimension_height }}</span>
                                </p>

                                <p>Area: <span>{{ lotDetsCtl.lot.lot_area }}</span></p>

                                <!-- TODO: functionality to update lot price per sq mtr -->
                                <p>Price Per S/M:
                                    <span inline-edit="lotDetsCtl.lot.price_per_sq_mtr"
                                          inline-edit-callback="lotDetsCtl.updateLotPricePerSqMtr(newValue)"
                                          inline-edit-placeholder="Type your value here"
                                          inline-edit-btn-edit=""
                                          inline-edit-filter="currency:'PHP '"
                                          inline-edit-on-blur="save"
                                          inline-edit-on-click>
                                        <!-- lotDetsCtl.lot.price_per_sq_mtr | currency: "PHP ":0 -->
                                    </span>
                                </p>

                                <p>Amount: <span>{{ lotDetsCtl.lot.amount | currency: "PHP ":0 }}</span></p>

                                <!-- TODO: functionality to revert status and data cascades -->
                                <p>Status:
                                    <span ng-style="lotDetsCtl.lot.status == 'vacant' && {'color': 'green'}
                                            || lotDetsCtl.lot.status == 'sold' && {'color': 'red'}
                                            || lotDetsCtl.lot.status == 'occupied' && {'color': 'violet'}">
                                        {{ lotDetsCtl.lot.status }}
                                    </span>
                                </p>

                                <!--  TODO add a watch for change on status and update to server
                                      if status changed to sold - show modal to select client
                                      note: status occupied shown only when deceased added
                                -->

                            </md-card-content>
                        </md-card>


                    </md-content>
                </md-tab>

                <!-- Occupants Tab : Show only if lot is occupied -->
                <md-tab label="Occupants/Deceased" ng-if="lotDetsCtl.lot.status == 'occupied'">
                    <md-content>
                        <md-list flex>
                            <md-subheader class="md-no-sticky">{{ lotDetsCtl.lot.deceased.length }} occupants</md-subheader>
                            <md-list-item class="md-2-line" ng-repeat="dead in lotDetsCtl.lot.deceased">
                                <div class="md-list-item-text" layout="column">
                                    <h4>{{ dead.first_name + ' ' + dead.last_name }}</h4>
                                    <p>{{ dead.date_of_death }}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>