<md-dialog id="lot-details-dialog" flex="40" class="form-modal" aria-label="Lot Details" flex="25" ng-cloak>
    <form name="lotDetailsForm">
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h4>Lot Information</h4>
               <span flex></span>
               <md-button class="md-icon-button" ng-click="lotDetsCtl.cancel()">
                   <md-icon aria-label="Close dialog">clear</md-icon>
               </md-button>
           </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">


            <span layout="row" layout-align="start center">

                <!-- Lot Name / Lot No. -->
                <p ng-mouseenter="showEditLotNameBtn = true"
                   ng-mouseleave="showEditLotNameBtn = false"
                   ng-hide="showEditLotNameForm">Lot No:
                    <span>
                        <md-button class="md-icon-button small-icon-button"
                                   ng-show="showEditLotNameBtn"
                                   ng-click="showEditLotNameForm = true">
                            <md-icon>edit</md-icon>
                        </md-button>
                        {{ lotDetsCtl.lot.name }}
                    </span>

                    <section ng-show="showEditLotNameForm">
                        <form class="inline-form">
                            <div layout="row">
                                <label class="parent-form-label">Lot No:</label>
                                <span flex></span>
                                <!-- Lot No -->
                                <md-input-container>
                                    <label>Lot No:</label>
                                    <input type="text" name="name"
                                           ng-model="lotDetsCtl.lot.name">
                                </md-input-container>

                                <md-button class="md-icon-button"
                                           ng-click="showEditLotNameForm = false">
                                    <md-icon>clear</md-icon>
                                </md-button>
                                <md-button class="md-icon-button"
                                           ng-click="lotDetsCtl.updateLotName()">
                                    <md-icon>save</md-icon>
                                </md-button>
                            </div>
                        </form>
                    </section>

                </p>

                <span flex></span>
                <!-- Add Occupant Button -->
                <md-button class="md-hue-1"
                           ng-show="lotDetsCtl.lot.status !== 'vacant'"
                           ng-click="lotDetsCtl.addOccupant()">
                    <md-icon>add</md-icon>Occupant
                </md-button>

                <!-- Mark Lot as Sold Button -->
                <md-button class="md-hue-2"
                           ng-show="lotDetsCtl.lot.status === 'vacant'"
                           ng-click="lotDetsCtl.markSold()">
                    <md-icon>attach_money</md-icon>Mark Sold
                </md-button>
            </span>

            <md-tabs md-dynamic-height md-border-bottom>
                <!-- Lot Info Tab -->
                <md-tab label="Lot Info">
                    <md-content id="lot-info-content">
                        <md-card>
                            <md-card-content>
                                <!--    // Dimension (Editable)
                                    // Area
                                    // Price/Sq.Mtr.
                                    // Amount
                                    // Status (Editable)

                                    // Show Owner only when Status is sold or occupied
                                    // trigger select client and date purchased(datepicker) when changing status to sold

                                    // Show a button to add deceased (occupant) when status is sold or occupied

                                    // when reverting back status to vacant. clear all cascaded data
                                    -->

                                <p ng-mouseenter="showEditLotBlockNoBtn = true"
                                   ng-mouseleave="showEditLotBlockNoBtn = false"
                                   ng-hide="showEditLotBlockNoForm">Block:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotBlockNoBtn"
                                                   ng-click="showEditLotBlockNoForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.block.name }}
                                    </span>

                                    <section ng-show="showEditLotBlockNoForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Block:</label>
                                                <span flex></span>
                                                <!-- Block -->
                                                <md-input-container>
                                                    <label>Block</label>
                                                    <md-select ng-model="lotDetsCtl.lot.block_id">
                                                        <md-option ng-repeat="block in lotDetsCtl.blocks"
                                                                   value="{{ block.id }}">
                                                            {{ block.name }}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotBlockNoForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotBlockNo()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <!-- OR # -->
                                <p ng-mouseenter="showEditLotORNoBtn = true"
                                   ng-mouseleave="showEditLotORNoBtn = false"
                                   ng-hide="showEditLotORNoForm">OR #:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotORNoBtn"
                                                   ng-click="showEditLotORNoForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.or_no ? '#' + lotDetsCtl.lot.or_no : '' }}
                                    </span>

                                    <section ng-show="showEditLotORNoForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">OR #:</label>
                                                <span flex></span>
                                                <!-- OR # -->
                                                <md-input-container>
                                                    <label>OR #</label>
                                                    <input type="text" name="or_no"
                                                           ng-model="lotDetsCtl.lot.or_no">
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotORNoForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotORNo()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <!-- LOT OWNER -->
                                <p ng-if="lotDetsCtl.lot.status != 'vacant'">Owner:
                                    <span>{{ lotDetsCtl.lot.client.last_name + ', ' + lotDetsCtl.lot.client.first_name }}</span>
                                </p>

                                <!-- LOT DIMENSION -->
                                <p ng-mouseenter="showEditLotDimensionBtn = true"
                                   ng-mouseleave="showEditLotDimensionBtn = false"
                                   ng-hide="showEditLotDimensionForm">Dimension:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotDimensionBtn"
                                                   ng-click="showEditLotDimensionForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.dimension }}
                                    </span>

                                    <section ng-show="showEditLotDimensionForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Dimension</label>
                                                <!-- Lot Dimension -->
                                                <md-input-container>
                                                    <label>Dimension</label>
                                                    <input type="text" name="dimension"
                                                           ng-model="lotDetsCtl.lot.dimension"
                                                           ng-model-options="{ debounce: 150 }" placeholder="Dimension"
                                                           allow-pattern="[Xx0-9.]"/>
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotDimensionForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotDimension()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <p ng-mouseenter="showEditLotAreaBtn = true"
                                   ng-mouseleave="showEditLotAreaBtn= false"
                                   ng-hide="showEditLotAreaForm">Lot Area:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotAreaBtn"
                                                   ng-click="showEditLotAreaForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.lot_area }}
                                    </span>

                                    <section ng-show="showEditLotAreaForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Lot Area:</label>
                                                <span flex></span>
                                                <!-- Lot Area -->
                                                <md-input-container>
                                                    <label>Lot Area</label>
                                                    <input type="input" name="lot_area"
                                                           ng-model="lotDetsCtl.lot.lot_area">
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotAreaForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotArea()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>


                                <!-- TODO: functionality to update lot price per sq mtr -->
                                <p ng-mouseenter="showEditLotPriceBtn = true"
                                   ng-mouseleave="showEditLotPriceBtn = false"
                                   ng-hide="showEditLotPriceForm">Price Per S/M:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotPriceBtn"
                                                   ng-click="showEditLotPriceForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.price_per_sq_mtr | currency: "PHP ":0 }}
                                    </span>

                                    <section ng-show="showEditLotPriceForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Price Per S/M:</label>
                                                <span flex></span>
                                                <!-- Lot Price -->
                                                <md-input-container>
                                                    <label>Price Per S/M:</label>
                                                    <input type="number" name="price"
                                                           ng-model="lotDetsCtl.lot.price_per_sq_mtr">
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotPriceForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotPrice()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <p>Amount: <span>{{ lotDetsCtl.lot.amount | currency: "PHP ":0 }}</span></p>

                                <!-- TODO: functionality to revert status and data cascades -->
                                <p>Status:
                                    <span ng-style="lotDetsCtl.lot.status == 'vacant' && {'color': 'green'}
                                            || lotDetsCtl.lot.status == 'sold' && {'color': 'red'}
                                            || lotDetsCtl.lot.status == 'occupied' && {'color': 'violet'}">
                                        {{ lotDetsCtl.lot.status }}
                                    </span>
                                </p>

                                <!-- Remarks -->
                                <p ng-mouseenter="showEditLotRemarksBtn = true"
                                   ng-mouseleave="showEditLotRemarksBtn = false"
                                   ng-hide="showEditLotRemarksForm">Remarks:
                                    <span>
                                        <md-button class="md-icon-button small-icon-button"
                                                   ng-show="showEditLotRemarksBtn"
                                                   ng-click="showEditLotRemarksForm = true">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        {{ lotDetsCtl.lot.remarks }}
                                    </span>

                                    <section ng-show="showEditLotRemarksForm">
                                        <form class="inline-form">
                                            <div layout="row">
                                                <label class="parent-form-label">Remarks:</label>
                                                <span flex></span>
                                                <!-- OR # -->
                                                <md-input-container>
                                                    <label>Remarks</label>
                                                    <textarea rows="3" cols="20" name="remarks"
                                                           ng-model="lotDetsCtl.lot.remarks">
                                                    </textarea>
                                                </md-input-container>

                                                <md-button class="md-icon-button"
                                                           ng-click="showEditLotRemarksForm = false">
                                                    <md-icon>clear</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button"
                                                           ng-click="lotDetsCtl.updateLotRemarks()">
                                                    <md-icon>save</md-icon>
                                                </md-button>
                                            </div>
                                        </form>
                                    </section>
                                </p>

                                <!--  TODO add a watch for change on status and update to server
                                      if status changed to sold - show modal to select client
                                      note: status occupied shown only when deceased added
                                -->

                            </md-card-content>
                        </md-card>


                    </md-content>
                </md-tab>

                <!-- Occupants Tab : Show only if lot is occupied -->
                <md-tab label="Occupants/Deceased" ng-if="lotDetsCtl.lot.status == 'occupied'">
                    <md-content>
                        <md-list flex>
                            <md-subheader class="md-no-sticky">{{ lotDetsCtl.lot.deceased.length }} occupants</md-subheader>
                            <md-list-item class="md-2-line" layout="row" ng-repeat="dead in lotDetsCtl.lot.deceased">
                                <div class="md-list-item-text" layout="column">
                                    <h4>{{ dead.first_name + ' ' + dead.last_name }}</h4>
                                    <p>{{ dead.date_of_birth ? dead.date_of_birth : 'undefined' }} - {{ dead.date_of_death }}</p>
                                </div>
                                <span flex></span>
                                <div layout-padding>
                                    <md-button class="padding-0 margin-0 md-icon-button" ng-click="lotDetsCtl.showUpdateDeceased(dead)">
                                        <md-icon>mode_edit</md-icon>
                                    </md-button>
                                    <md-button class="padding-0 margin-0 md-icon-button" ng-click="lotDetsCtl.deleteDeceased(dead)">
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
