{% raw %}
<div ng-controller="newCremationController as newCremCtl"
     ng-show="showNewCremationFormPanel"
     class="md-whiteframe-2dp"
     style="position:absolute;    top: calc(50% - 250px);
    left: calc(50% - 300px);"
     flex>
        <form name="newCremationForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h4>New Cremation</h4>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="newCremCtl.close()">
                        <md-icon aria-label="Close dialog">clear</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="md-padding">

                <div layout="column" layout-margin>

                    <div layout="row">
                        <md-input-container>
                            <label>Firstname</label>
                            <input type="text" name="first_name" ng-model="newCremCtl.cremation.deceased.first_name" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Lastname</label>
                            <input type="text" name="last_name" ng-model="newCremCtl.cremation.deceased.last_name" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Middlename</label>
                            <input type="text" name="middle_name" ng-model="newCremCtl.cremation.deceased.middle_name">
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>Gender</label>
                            <md-select ng-model="newCremCtl.cremation.deceased.gender">
                                <md-option ng-repeat="s in ['male', 'female']" value="{{s}}">
                                    {{s}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <input time="false" date="true" mdc-datetime-picker="" type="text" id="date" class="md-input"
                                   placeholder="Date of Birth"
                                   format="YYYY-MM-DD"
                                   min-date="minDate"
                                   max-date="newCremCtl.currentDate"
                                   ng-model="newCremCtl.cremationDates.date_of_birth">
                        </md-input-container>

                        <md-input-container flex>
                            <input time="false" date="true" mdc-datetime-picker="" type="text" id="date" class="md-input"
                                   placeholder="Date of Death"
                                   format="YYYY-MM-DD"
                                   min-date="minDate"
                                   max-date="newCremCtl.currentDate"
                                   ng-model="newCremCtl.cremationDates.date_of_death">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <input time="false" date="true" mdc-datetime-picker="" type="text" id="date" class="md-input"
                               placeholder="Cremation Date"
                               format="YYYY-MM-DD"
                               min-date="minDate"
                               max-date="newCremCtl.currentDate"
                               ng-model="newCremCtl.cremationDates.date_cremated">
                    </md-input-container>

                    <md-input-container flex>
                        <input mdc-datetime-picker
                               date="false"
                               time="true" type="text"
                               id="time"
                               short-time="true"
                               placeholder="Time Started"
                               min-date="minDate"
                               format="HH:mm"
                               ng-model="newCremCtl.cremationDates.time_started">
                    </md-input-container>

                    <!--<span flex="10"></span>-->

                    <md-input-container flex>
                        <input mdc-datetime-picker date="false"
                               time="true"
                               type="text"
                               id="time"
                               short-time="true"
                               placeholder="Time Finished"
                               min-date="minDate"
                               format="HH:mm"
                               ng-model="newCremCtl.cremationDates.time_finished">
                    </md-input-container>

                    <!--<span flex="10"></span>-->

                    <md-input-container flex>
                        <label>Gas Consumed (liters)</label>
                        <input type="number" name="gas_consumed"
                               ng-model="newCremCtl.cremation.gas_consumed"
                               required>
                    </md-input-container>
                </div>

                <div layout="row">
                    <span flex></span>


                </div>

                <span layout="row" layout-align="end center">
                    <span flex></span>
                    <md-button class="md-primary" ng-click="newCremCtl.save()">Save</md-button>
                </span>
            </md-content>
        </form>
</div>
{% endraw %}
